attrs==19.3.0
capstone==3.0.5
certifi==2019.11.28
cffi==1.14.4
contextlib2==0.6.0
dbus-python==1.2.16
enum34==1.1.10
gevent==1.4.0
greenlet==0.4.15
html5lib==1.0.1
idna==2.8
ipaddress==1.0.17
lxml==4.5.2
numpy==1.16.5
olefile==0.46
packaging==20.3
Pillow==6.2.1
py==1.8.1
pyasn1==0.4.8
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
PyGObject==3.36.0
pyparsing==2.4.6
pytz==2020.1
six==1.15.0
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
yara-python==3.10.0
